.ant-card-head-title {
    display: flex !important; 
    justify-content: center !important;
}
.ant-card{
    background:linear-gradient(#422e5d93, #422e5d13) !important;
}
[nzType]{
    background-color: rgba(190, 190, 190, 0.048);
}

body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
span{
    font-weight: bolder;
    display: block;
    text-align: center;
    font-size: medium;
}
nz-card{
    border-radius: 10px;
}
[nzTitle]{
    color: black;

}
h4 span{
    color: #FFFFFF;
}