:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  direction: rtl !important;
}
.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}



.global-search-item {
  display: flex;
}
.global-search-item-desc {
  flex: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
.global-search-item-count {
  flex: none;
}
nz-header {
  position: fixed;
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: rgb(35,47,62);
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

.middleCol {
  margin-right: 4%;
}

button {
  border: 0;
}
i {
  color: gray;
}
.CheckboxListUl {
  direction: ltr !important;
  text-align: right;
}

.leftCol {
  position: absolute;
  left: 3%;
}
.site-page-header {
  padding-top: 6px;
}
nz-avatar {
  width: 40px;
  height: 40px;
}
nz-page-header-subtitle {
  margin-top: 4%;
  padding-left: 14px;
}
