<nz-header>
  <div class="app-header" style="margin-right: 13%;">
    <div nz-row>
      <div nz-col nzSpan="8">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <button nz-button nzType="primary" (click)="toggleCollapsed()">
          <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </button>
        </span>
        
      </div>
      <!-- searchBox Section -->   
         
      <div nz-col nzSpan="6" style="margin-right: 4%">
        <div>
          <nz-input-group [nzPrefix]="searchIcon">
            <input theme="dp-material" nz-input  [(ngModel)]="inputValue" (input)="onInput($event)" (keydown.enter)="Onclick()" [nzAutocomplete]="auto"/>
            <nz-autocomplete [nzDataSource]="options" nzBackfill #auto></nz-autocomplete>
          </nz-input-group>
          <ng-template #searchIcon>
            <button nz-button nzSize="small" style="border: 0;" nzSearch  >
              <i nz-icon nzType="search" (click)="Onclick()" ></i>
            </button>
          </ng-template>
        </div>
      </div>
      <!-- profile Section -->
      <div nz-col style="margin-right: 25%">
        <div>
          <nz-page-header style="padding-top: 6px" class="site-page-header" nz-dropdown [nzDropdownMenu]="menu">
            <nz-avatar
              nz-page-header-avatar
              style="width: 40px; height: 40px"
              nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
            ></nz-avatar>
            <nz-page-header-subtitle
            style="margin-top: 4%; padding-left: 14px;"
              >Full Name</nz-page-header-subtitle
            >
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item>Profile</li>
                <li nz-menu-item>Setting</li>
                <li nz-menu-item nzDanger>Log Out</li>
              </ul>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
            </nz-dropdown-menu>
          </nz-page-header>
        </div>
      </div>
    </div>
  </div>
</nz-header>
