<!-- <div>
        <nz-input-group [nzPrefix]="dateicon" style="width: 18%">
          <input
            theme="dp-material"
            [dpDayPicker]="datePickerConfig"
            nz-input
          />
        </nz-input-group>
        <ng-template #dateicon>
          <i nz-icon nzType="search" nzTheme="outline"></i>
        </ng-template>
      </div>

      <div style="display: block">
        <canvas
          baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
        >
        </canvas>
      </div>
    </div> -->