<nz-comment>
  <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
  <nz-comment-content>
    <nz-form-item style="border: solid 1px;">
      <ckeditor style="width: 100%;" nz-input rows="4" [(ngModel)]="inputValue" [editor]="Editor"
        (ready)="onReady($event)"></ckeditor>
    </nz-form-item>
    <nz-form-item>
      <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
        Add Comment
      </button>
    </nz-form-item>
  </nz-comment-content>
</nz-comment>
<nz-list *ngIf="data.length" [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
  <ng-template #item let-item>
    <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.displayTime">
      <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
      <nz-comment-content>
        <app-comment-text [content]="item.content"></app-comment-text>
      </nz-comment-content>
    </nz-comment>
  </ng-template>
</nz-list>