<nz-alert *ngIf="isAlert" nzType="success" nzCloseable nzMessage="کتاب شما با موفقیت به کتابخانه تحویل داده شد."
  (nzOnClose)="afterClose()">
</nz-alert>
<nz-table #columnTable [nzData]="listOfDisplayData" [nzShowPagination]='false' [nzScroll]="{ x: '1000px' }">
  <!--[nzPageSize]="pageSize" [nzTotal]="total" [nzPageIndex]="pageIndex"-->
  <thead>
    <tr>
      <th nzLeft>#</th>
      <th nzLeft nzCustomFilter>نام کتاب
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th nzLeft>نویسنده</th>
      <th>موضوع</th>
      <th nzRight [nzSortFn]="compare">تاریخ شروع</th>
      <!--[nzSortFn]="sortDateFn"-->
      <th nzRight> تخمین تاریخ تحویل</th>
      <th nzRight>تاریخ تحویل</th>
      <th nzRight [nzSortFn]="sortAction" [nzFilters]="filterName" [nzFilterFn]="nameFilterFn">عملیات</th>
    </tr>
  </thead>
  <tbody *ngIf="listOfDisplayData">
    <tr *ngFor="let data of columnTable.data;index as i">
    <tr *ngFor="let borrowBook of columnTable.data;index as i">
      <td nzLeft>{{ i+1 }}</td>
      <td nzLeft>{{ borrowBook.bookName }}</td>
      <td nzLeft>{{ borrowBook.authors }}</td>
      <td>{{ borrowBook.categories }}</td>
      <td nzRight>{{ borrowBook.startDate }}</td>
      <td nzRight>{{ borrowBook.estimateDate }}</td>
      <td nzRight>{{ borrowBook.endDate }}</td>
      <td nzRight [ngSwitch]="borrowBook.status">
        <a style="color: blue;" disabled *ngSwitchCase="1"> تحویل داده شده</a>
        <a [ngStyle]=buttonDisabled(borrowBook.status) style="color: red;" *ngSwitchCase="0"
          (click)="showModal(borrowBook.borrowId)"> تحویل داده نشده</a>
        <nz-modal [(nzVisible)]="isVisible" nzTitle="Modal" nzOkText="Ok" nzCancelText="Cancel"
          [nzFooter]="modalFooter">
          <ng-template [nzModalTitle]>
            <div nz-row nzJustify="center">
              <div nz-col>
                تحویل کتاب
              </div>
            </div>
          </ng-template>
          <ng-template #modalFooter>
            <div nz-row nzJustify="center">
              <div nz-col>
                <button nz-button nzDanger [nzType]="'primary'" (click)="handleCancel()">بستن</button>
                <button nz-button [nzType]="'primary'" (click)="handleOk(selectedBookId)">تایید</button>
              </div>
            </div>
          </ng-template>
          <ng-container *nzModalContent>
            <div style="text-align: right;">
              آیا میخواهید کتاب را به کتابخانه برگردانید؟
            </div>
          </ng-container>
        </nz-modal>
      </td>

    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="نام کتاب را جست و جو کنید" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        جست و جو
      </button>
      <button nz-button nzSize="small" (click)="reset()">بازیابی</button>
    </div>
  </div>
</nz-dropdown-menu>
<nz-pagination style="direction: ltr;margin-top: 10px;text-align: center;" [(nzPageIndex)]="pageIndex"
  [(nzTotal)]="total" [(nzPageSize)]="pageSize" (click)=getBookByUserIdAndPageNumber(pageIndex)></nz-pagination>