<nz-layout class="app-layout">
  <div nz-row>
    <!-- sidebar -->
    <div nz-col>
      <app-sidebar></app-sidebar>
    </div>
    <!-- header -->
    <div nz-col >
      <app-header></app-header>
    </div>
    <!-- body -->
    <div nz-col nzSpan="20" >
      <nz-layout>
        <nz-content>
          <div class="inner-content" style="width: 104%; margin-top: 4%; margin-right: 16.7%;">
            <router-outlet> </router-outlet>
          </div>
        </nz-content>
      </nz-layout>
    </div>
  </div>
</nz-layout>

