<nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    
  >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <h1 style="color: rgb(0, 131, 163);">Asa Library</h1>
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
      </a>
    </div>
    <div >
    <ul nz-menu nzMode="inline" style="background-color: transparent;" >
        <li nz-icon [nzType]="'dashboard'" nz-menu-item nzSelected><h4><span>صفحه اصــلی</span></h4></li>
        <li nz-icon [nzType]="'book'" nz-menu-item><h4><span>کتـابهای من</span></h4></li>
        <li nz-icon [nzType]="'appstore-add'"nz-menu-item><h4><span>افزودن کتـاب</span></h4></li>
        <li nz-menu-item><h4><span>Option 4</span></h4></li>
        <li nz-menu-item><h4><span>Option 5</span></h4></li>
    </ul>
    <ng-template #dashboard>
      <i nz-icon [nzType]="'dashboard'"></i>
    </ng-template>
    
  </div>
  </nz-sider>
