.login-form {
    max-width: 300px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  [nz-form-item].nz-invalid.nz-touched{
    border: 1px solid red;
  }
  